#long_box{
	width:1350px;
	height:2700px;
	margin:auto;
	background:#EBE8E9;
}
.color_line{
	width:1350px;
	height:4px;
	background-image:linear-gradient(to right,red,green,blue,yellow);
	float:left;
	position:fixed;
}
*{
	margin:0;
	padding:0;
}
#theme_box{
	width:1350p;
	height:144px;
	background:#f2f3f6;
	float:left;
}
.log_in_box{
	width:80px;
	height:34px;
	font-family:Calibri;
	font-size:18px;
	float:left;
	text-align:center;
	margin-left:20px;
	margin-top:20px;
	color:black;
}
.log_in_box:hover{
	opacity:0.6;
	transition:0.4s;
	text-decoration:underline;
	color:#cc0404;
}
.register_box{
	width:110px;
	height:34px;
	font-family:Calibri;
	font-size:18px;
	float:left;
	text-align:center;
	margin-top:20px;
	color:black;
}
.register_box:hover{
	opacity:0.6;
	transition:0.4s;
	text-decoration:underline;
	color:#cc0404;
}
.log{
	width:240px;
	height:110px;
	float:left;
}
.line_box_2{
	border-left: 2px solid black;
	height: 20px;
	float:left;
	margin-top:20px;
	margin-left:10px;
}
#none_box{
	width:780px;
	height:110px;
	float:left;
}
#first{
	width:780px;
	height:110px;
	float:left;
}
#f{
	font-family:Vivaldi;
	font-size:110px;
	color:#ad7013;
	margin-top:-5px;
	float:left;
	margin-left:10px;
}
#f{
	font-family:FoughtKnight;
	font-size:100px;
	color:#444;
	margin-top:-5px;
	float:left;
	margin-left:10px;
	letter-spacing:-1px;
}
.logo_theme{
	width:60px;
	height:100px;
	background-image:url(images/SeekPng.png);
	background-size:cover;
	float:left;
	margin-left:10px;
}
#phone_box{
	width:310px;
	height:110px;
	float:left;
}
.searchterm{
	width:220px;
	height:25px;
	border:1px solid black;
	margin-left:40px;
	color:white;
	border-radius:4px;
	outline:none;
	margin-top:10px;
	font-size:12px; 
	padding-left:10px;
	background-color:white;
	float:left;
	text-transform:capitalize;
}
.searchterm:focus{
	color:black;
	text-transform:capitalize;
	border:1px solid #ad7013;
}
.searchterm:hover{
	transition:0.5s;
	border:1px solid #ad7013;
}
#search_icon1{
	width:20px;
	height:16px;
	padding-top:5px;
	float:left;	
	margin-top:12px;
	margin-left:-27px;
	background-image:url(images/search.png);
	background-size:cover;
}
#search_icon1:hover{
	opacity:0.5;
}
#facebook_box{
	float:left;
	text-align:center;
	margin-top:20px;
	margin-left:80px;
}
#facebook_box:hover{
	opacity:0.5;
	transition:0.3s;
}
#instargram_box{
	float:left;
	text-align:center;
	margin-top:20px;
	margin-left:10px;
}
#instargram_box:hover{
	opacity:0.5;
	transition:0.3s;
}
#linkedin_box{
	float:left;
	text-align:center;
	margin-top:20px;
	margin-left:10px;
}
#linkedin_box:hover{
	opacity:0.3;
	transition:0.5s;
}
#twitter_box{
	float:left;
	text-align:center;
	margin-top:22px;
	margin-left:10px;
}
#twitter_box:hover{
	opacity:0.3;
	transition:0.5s;
}
#home_box{
	width:100px;
	height:25px;
	letter-spacing:2px;
	float:left;
	margin-left:250PX;
	color:black;
	font-size:18;
	text-align:center;
	padding-top:3PX;
	font-family:Calibri;
	margin-top:-2px;
}
#home_box:hover{
	transition: 0.2s;
	color:#777;
	border-bottom: 2px solid #fff;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #ad7013;
	display: inline-block;
}
#brands_box_long{
	width:130px;
	height:40px;
	float:left;
	margin-left:20px;
	padding-top:3px;
	margin-top:-2px;
	padding-bottom:10px;
}
#brands_box{
	letter-spacing:2px;
	float:left;
	font-size:18px; 
	color:black;
	margin-left:30px;
	font-family:Calibri;
	padding-bottom:5px;
}
#brands_box:hover{
	border-bottom: 5px solid #fff;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #ad7013;
	display: inline-block;
}
#sab{
	width:1150px;
	height:430px;
	margin-top:-20px;
	display:none;
	margin-left:-300;
	position:absolute;
	z-index:1;
	transition:0.3s;
}
#sab:hover{
	padding-top:20px;
	transition:0.3s;
}
#one{
	width:570;
	height:410;
	float:left;
	margin-top:10px;
	background:white;
}
#two{
	width:540;
	height:400;
	background:gray;
	float:left;
	margin-top:10px;
}
#brands_box_long:hover #sab{display:inherit;}
#brands_box_long:hover{
	transition: 0.2s;
	color:#777;	
}
.a_in{
	width:155px;
	height:30px;
	float:left;
	margin-left:25px;
	margin-top:20px;
}
.a{
	width:150px;
	height:26px;
	padding-top:5px;
	float:left;
	color:black;
	z-index:1;
	text-align:center;
	font-size:15px;
	letter-spacing:1px;
	padding-left:10px;
	color:#555;
}
.a:hover{
	border-bottom: 2px solid #fff;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #ad7013;
	display: inline-block;
	color:black;
}
#mens_box{
	width:170px;
	height:27px;
	float:left;
	margin-left:20;
	color:black;
	font-size:16;
	text-align:center;
	padding-top:6;
	font-family:Calibri;
	margin-top:-2px;
	letter-spacing:2px;
	background:red ;
}
#mens_box:hover{
	color:black;
	transition: 0.2s;
	border-bottom: 5px solid #fff;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #ad7013;
	display: inline-block;
}
#brands_box:hover #subb{display:inherit;}
#brands_box:hover{
	color:#777;	
}
#subb{
	width:750px;
	height:450px;
	margin-top:-20px;
	display:none;
	margin-left:-15;
	border-radius:5px;
	position:absolute;
	float:left;
	z-index:1;
}
#subb:hover{
	padding-top:20px;
	transition:0.3s;
}
#one_box{
	width:210;
	height:420;
	background:white;
	float:left;
	color:black;
	z-index:1;
	margin-top:10px;
}
#two_box{
	width:400;
	height:430;
	float:left;
	z-index:1;
	margin-top:10px;
}
#ladies_box{
	width:170px;
	height:27px;
	letter-spacing:2px;
	float:left;
	margin-left:20;
	color:black;
	font-size:16;
	text-align:center;
	padding-top:3;
	font-family:Calibri;
	border-radius:5px;
	margin-top:-2px;		
}
#ladies_box:hover{
	color:black;
	transition: 0.2s;
	box-shadow:2px 2px 10px black;
	font-size:18px;
}
#sub{
	width:600px;
	height:430px;
	background:#101011;
	margin-top:4;
	display:none;
	margin-left:-15;
	border-radius:5px;
	box-shadow:0px 6px 15px black;
	position:absolute;
	float:left;
}
#ladies_box:hover #sub{display:inherit;}
#ladies_box:hover{
	color:#777;
}







.one_img{
	width:1350px;
	height:500px;
	float:left;
	background-image:url(images/g-shok-background.jpg);
	background-size:cover;
	
}
.two_img{
	width:850px;
	height:200px;
	background:rgba(225,225,225,0.4);
	float:left;
	margin-top:280px;
}
.two_img_text-1{
	width:830px;
	height:90px;
	font-size:16.2px;
	font-family:Calibri;
	color:black;
	text-indent:100px;
	margin-top:6px;
	margin-left:10px;
	text-align:justify;
	text-justify:inter-word;
}
.two_img_text-2{
	width:830px;
	height:100px;
	font-size:16.2px;
	font-family:Calibri;
	color:black;
	text-indent:100px;
	text-align:justify;
	text-justify:inter-word;
	margin-left:10px;
}

.three_img{
	width:400px;
	height:100px;
	float:left;
	background-image:url(images/G-SHOCK_logo.jpg);
	background-size:cover;
	margin-top:40px;
	margin-left:70px;
}





.watch_box{
	width:1350px;
	height:100%;
	float:left;
	background:white;
	margin-top:60px;
	overflow:hidden;
}
.head_brand{
	width:1350px;
	height:1300px;
	background:white;
	float:left;
	margin-top:20px;
	overflow:hidden;
}
.head_name_brand{
	width:750px;
	height:120px;
	float:left;
	padding-left:600px;
	overflow:hidden;
}
.head_brand_box{
	width:361px;
	height:500px;
	float:left;
	margin-left:75px;
	overflow:hidden;
	border:1px solid #999;
	margin-top:20px;
}
.img_in_1{
	width:362px;
	height:360px;
	float:left;
}
.img_in_3{
	width:70px; 
	height:22px;
	transition:0.3s;
	float:left;
	position:absolute;
	background:black;
	margin-top:16px;
	margin-left:-20px;
	color:white;
	font-family:Calibri;
	font-size:19px;
	text-align:center;
	padding-bottom:4px;
	z-index:1;
}
.img_in_3:hover{
	background:rgba(0,0,0,0);
	transform:scale(1.1);
	overflow:hidden;
}

.brands_box_text{
	width:361px;
	height:200px;
	float:left;
	overflow:hidden;
}

.text_1{
	width:320px;
	height:60px;
	margin-left:20px;
	float:left;
	font-family:Calibri;
	font-size:16px;
	font-weight:bold;
	letter-spacing:0.5px;
	overflow:hidden;
}
.text_2{
	width:80px;
	height:30px;
	font-family:Calibri light;
	font-size:18px;
	margin-top:30px;
	margin-left:120px;
	float:left;
	text-decoration:line-through;
	color:red;
	overflow:hidden;
}
.text_3{
	width:160px;
	height:40px;
	font-family:Calibri;
	font-size:30px;
	margin-top:20px;
	float:left;
	font-weight:bold;
	overflow:hidden;
}
.text_4{
	width:320px;
	height:20px;
	font-family:Calibri light;
	float:left;
	margin-left:20px;
	font-size:17px;
	overflow:hidden;
	
}




.img_in_01{
	background-image:url(images/g_shock.png);
	background-size:cover;
	width:340px; 
	height:340px;
	margin-left:16px;
	margin-top:-10px;
	transition:0.3s;
	float:left;
}
.img_in_01:hover{
	transition:0.3s;
	transform:scale(1.1);
}

.img_in_02{
	background-image:url(images/g_shock-2.jpg);
	background-size:cover;
	width:340px; 
	height:340px;
	margin-left:16px;
	margin-top:-10px;
	transition:0.3s;
	float:left;
}
.img_in_02:hover{
	transition:0.3s;
	transform:scale(1.1);
}

.img_in_03{
	background-image:url(images/g_shock-3.jpg);
	background-size:cover;
	width:340px; 
	height:340px;
	margin-left:16px;
	margin-top:-4px;
	transition:0.3s;
	float:left;
}
.img_in_03:hover{
	transition:0.3s;
	transform:scale(1.1);
}

.img_in_04{
	background-image:url(images/g_shock-4.jpg);
	background-size:cover;
	width:340px; 
	height:340px;
	margin-left:16px;
	margin-top:-10px;
	transition:0.3s;
	float:left;
}
.img_in_04:hover{
	transition:0.3s;
	transform:scale(1.1);
}

.img_in_05{
	background-image:url(images/g_shock-5.jpg);
	background-size:cover;
	width:340px; 
	height:340px;
	margin-left:16px;
	margin-top:-10px;
	transition:0.3s;
	float:left;
}
.img_in_05:hover{
	transition:0.3s;
	transform:scale(1.1);
}

.img_in_06{
	background-image:url(images/g_shock-6.jpg);
	background-size:cover;
	width:340px; 
	height:340px;
	margin-left:16px;
	margin-top:-10px;
	transition:0.3s;
	float:left;
}
.img_in_06:hover{
	transition:0.3s;
	transform:scale(1.1);
}

.img_in_07{
	background-image:url(images/g_shock-7.jpg);
	background-size:cover;
	width:340px; 
	height:340px;
	margin-left:16px;
	margin-top:-10px;
	transition:0.3s;
	float:left;
}
.img_in_07:hover{
	transition:0.3s;
	transform:scale(1.1);
}

.img_in_08{
	background-image:url(images/g_shock-8.jpg);
	background-size:cover;
	width:340px; 
	height:340px;
	margin-left:16px;
	margin-top:-10px;
	transition:0.3s;
	float:left;
}
.img_in_08:hover{
	transition:0.3s;
	transform:scale(1.1);
}

.img_in_09{
	background-image:url(images/g_shock-9.jpg);
	background-size:cover;
	width:340px; 
	height:340px;
	margin-left:16px;
	margin-top:-10px;
	transition:0.3s;
	float:left;
}
.img_in_09:hover{
	transition:0.3s;
	transform:scale(1.1);
}

.img_in_10{
	background-image:url(images/g_shock-0.jpg);
	background-size:cover;
	width:340px; 
	height:340px;
	margin-left:16px;
	margin-top:-10px;
	transition:0.3s;
	float:left;
}
.img_in_10:hover{
	transition:0.3s;
	transform:scale(1.1);
}

.img_in_11{
	background-image:url(images/g_shock-11.jpg);
	background-size:cover;
	width:340px; 
	height:340px;
	margin-left:16px;
	margin-top:-10px;
	transition:0.3s;
	float:left;
}
.img_in_11:hover{
	transition:0.3s;
	transform:scale(1.1);
}

.img_in_12{
	background-image:url(images/g_shock-22.jpg);
	background-size:cover;
	width:340px; 
	height:340px;
	margin-left:16px;
	margin-top:-10px;
	transition:0.3s;
	float:left;
}
.img_in_12:hover{
	transition:0.3s;
	transform:scale(1.1);
}
.img_in_13{
	background-image:url(images/g_shock-33.jpg);
	background-size:cover;
	width:340px; 
	height:340px;
	margin-left:16px;
	margin-top:-10px;
	transition:0.3s;
	float:left;
}
.img_in_13:hover{
	transition:0.3s;
	transform:scale(1.1);
}

.img_in_14{
	background-image:url(images/g_shock-44.jpg);
	background-size:cover;
	width:340px; 
	height:340px;
	margin-left:16px;
	margin-top:-10px;
	transition:0.3s;
	float:left;
}
.img_in_14:hover{
	transition:0.3s;
	transform:scale(1.1);
}

.img_in_15{
	background-image:url(images/g_shock-55.jpg);
	background-size:cover;
	width:340px; 
	height:340px;
	margin-left:16px;
	margin-top:-10px;
	transition:0.3s;
	float:left;
}
.img_in_15:hover{
	transition:0.3s;
	transform:scale(1.1);
}
.img_in_15{
	background-image:url(images/g_shock-66.jpg);
	background-size:cover;
	width:340px; 
	height:340px;
	margin-left:16px;
	margin-top:-10px;
	transition:0.3s;
	float:left;
}
.img_in_15:hover{
	transition:0.3s;
	transform:scale(1.1);
}



















.last_box{
	width:1350px;
	height:400px;
	background:#6c460d;
	margin-left:5px;
	float:left;
}
.email{
	width:1350px;
	height:120px;
	float:left;
	background:#ad7015;
}
.email_text{
	font-size:30px;
	font-family:Baskerville Old Face;
	margin-left:200px;
	margin-top:40px;
	float:left;
}
.e_in{
	width:349px;
	height:50px;
	float:left;
	margin-left:90px;
	margin-top:30px;
	
}
.email_subsribe_box{
	width:290px;
	height:50px;
	color:black;
	outline:none;
	font-size:15px; 
	padding-left:20px;
	background-color:#ad7015;
	float:left;
	text-transform:capitalize;
	letter-spacing:1px;
	border:none;
	border-bottom:1px solid black;
}
.email_subsribe_box:focus{
	color:black;
	text-transform:capitalize;
	background:white;
	border-bottom:1px solid white;
}
.email_subsribe_box:hover{
	transition:0.5s;
	border-bottom:1px solid white;
}
::placeholder{
	color:#333;
}
.email_subsribe{
	width:44px;
	height:38px;
	float:left;
	border:1px solid black;
	padding-left:10px;
	padding-top:10px;
}
.email_subsribe:hover{
	background:white;
}
.last_text_last_1{
	width:350px;
	height:200px;
	float:left;
	list-style:none;
	font-family:Calibri light;
	font-size:17px;
	margin-left:80px;
	margin-top:40px;
	letter-spacing:0.8px;
	color:#251702;
}
.last_text_last_2{
	width:200px;
	height:150px;
	float:left;
	list-style:none;
	font-family:Calibri light;
	font-size:17px;
	letter-spacing:0.8px;
	line-height:26px;
	margin-top:5px;
	color:#191003;
	text-decoration:none;
}
li:hover{
	text-decoration:underline;
	text-decoration-color:#ad7015;
	transition:0.5s;
	color:#ad7015;
}
h3{
	width:145px;
	height:40px;
	font-family:Calibri;
	text-align:center;
	padding-top:5px;
	float:left;
}

.last_follow_us{
	width:250px;
	height:150px;
	float:left;
	margin-left:100px;
	margin-top:50px;
	
}
.last_follow{
	font-size:25px;
	text-align:center;
	font-family:Harrington;
}
.fb{
	width:50px;
	height:50px;
	float:left;
	margin-left:10px;
	margin-top:25px;
}
::-webkit-scrollbar {
    width:7px;
	height:7px;
}
::-webkit-scrollbar-thumb {
    background:#ad7015;
}
::-webkit-scrollbar-thumb:hover {
    background:#875812;
}
::-webkit-scrollbar-track {
    background:rgba(225,225,225);
}
a{
	text-decoration:none;
	color:black;
}