.log{
	width:1340px;
	height:650px;
	background-image:url(images/Mens_Dress_Watches_2000x2000.webp) ;
	margin:auto;
	background-size:110%;
	position:fixed;
}
*{
	margin:0px;
	padding:0px;
}
.box{
	width:1340px;
	height:650px;
	background-color:rgb(0,0,0,0.6);
}







#log_box{
	width:400px;
	height:560px;
	background:white;
	border-radius:25px;
	margin-left:50px;
	margin-top:45px;
	float:left;
	box-shadow:0px 0px 60px black;
	transition-duration: 0.4s;
}
#log{
	font-family:Calibri Light;
	font-size:50px;
	text-align:center;
	color:#31323a;
	margin-top:10px;
}
#log_user{
	font-family:Calibri Light;
	font-size:20px;
	margin-left:10px;
	margin-top:10px;
}
#log_user_box:hover{
	border:2px solid black;
	transition:0.3s;
}
#log_user_box:focus{
	border:2px solid #ad7013;
	transition:2s;
}
#log_user_box{
	width:340px;
	height:35px;
	margin-left:20px;
	text-align:center;
	border-radius:3px;
	outline:none;
	font-size:14px;
	border:1.5px solid black;
}





button{
	width:90px;
	height:40px;
	margin-left:150px;
	margin-top:40px;
	outline:none;
	font-size:18px;
	color:#ad7013;
	font-family:Calibri Light;
	border: 2px solid #ad7013;
	letter-spacing:0.3px;
	cursor: pointer;
	transition-duration: 0.4s;
}
button:active{
	background:#ad7013;
	transition:0.2s;
	color:white;
	transform: translateY(2px);
}




#theme_name{
	font-size:125px;
	font-family:FoughtKnight;
	float:left;
	margin-left:10px;
	margin-top:200px;
	color:white;
	text-shadow:5px 5px #111;
	letter-spacing:3px;
	transition-duration: 0.4s;
}

.text_2{
	float:left;
	font-size:23px;
	font-family:Calibri;
	color:white;
	margin-left:180px;
	transition-duration: 0.4s;
}