#f{
	width:700;
	height:100;
	background:black;
}
#g{
	width:100;
	height:100;
	background:#43d62c;
	float:left;
}
#h{
	width:100;
	height:100;
	background:white;
	float:left;
}
#j{
	width:100;
	height:100;
	background:white;
	float:left;
}
#k{
	width:100;
	height:100;
	background:white;
	float:left;
}
#l{
	width:100;
	height:100;
	background:white;
	float:left;
}
#x{
	width:100;
	height:100;
	background:white;
	float:left;
}
#m{
	width:100;
	height:100;
	background:#2cd6bd;
	float:left;
}

#q{
	width:700;
	height:100;
	background:black;
}
#p{
	width:100;
	height:100;
	background:white;
	float:left;
}
#o{
	width:100;
	height:100;
	background:#423da9;
	float:left;
}
#i{
	width:100;
	height:100;
	background:white;
	float:left;
}
#v{
	width:100;
	height:100;
	background:white;
	float:left;
}
#u{
	width:100;
	height:100;
	background:white;
	float:left;
}
#y{
	width:100;
	height:100;
	background:#741111;
	float:left;
}
#t{
	width:100;
	height:100;
	background:white;
	float:left;
}

#w{
	width:700;
	height:100;
	background:#a73766;
}
#a{
	width:100;
	height:100;
	background:white;
	float:left;
}
#aa{
	width:100;
	height:100;
	background:white;
	float:left;
}
#aaa{
	width:100;
	height:100;
	background:#00faed;
	float:left;
}
#aaaa{
	width:100;
	height:100;
	background:white;
	float:left;
}
#aaaaa{
	width:100;
	height:100;
	background:#e29e38;
	float:left;
}
#aaaaaa{
	width:100;
	height:100;
	background:white;
	float:left;
}
#aaaaaaa{
	width:100;
	height:100;
	background:white;
	float:left;
}
#rr{
	width:700;
	height:100;
	background:#855050;
}
#qq{
	width:100;
	height:100;
	background:white;
	float:left;
}
#qqq{
	width:100;
	height:100;
	background:white;
	float:left;
}
#qqqq{
	width:100;
	height:100;
	background:white;
	float:left;
}
#qqqqq{
	width:100;
	height:100;
	background:#41d28a;
	float:left;
}
#qqqqqq{
	width:100;
	height:100;
	background:white;
	float:left;
}
#qqqqqqq{
	width:100;
	height:100;
	background:white;
	float:left;
}
#qqqqqqqq{
	width:100;
	height:100;
	background:white;
	float:left;
}
#ww{
	width:700;
	height:100;
	background:black;
}
#fa{
	width:100;
	height:100;
	background:white;
	float:left;
}
#faa{
	width:100;
	height:100;
	background:white;
	float:left;
}
#faaa{
	width:100;
	height:100;
	background:#d03ae7;
	float:left;
}
#faaaa{
	width:100;
	height:100;
	background:white;
	float:left;
}
#faaaaa{
	width:100;
	height:100;
	background:#673f6d;
	float:left;
}
#faaaaaa{
	width:100;
	height:100;
	background:white;
	float:left;
}
#faaaaaaa{
	width:100;
	height:100;
	background:white;
	float:left;
}
#nq{
	width:700;
	height:100;
	background:black;
}
#np{
	width:100;
	height:100;
	background:white;
	float:left;
}
#no{
	width:100;
	height:100;
	background:#4ba7e5;
	float:left;
}
#ni{
	width:100;
	height:100;
	background:white;
	float:left;
}
#nv{
	width:100;
	height:100;
	background:white;
	float:left;
}
#nu{
	width:100;
	height:100;
	background:white;
	float:left;
}
#ny{
	width:100;
	height:100;
	background:#0032fa;
	float:left;
}
#nt{
	width:100;
	height:100;
	background:white;
	float:left;
}
#lf{
	width:700;
	height:100;
	background:black;
}
#lg{
	width:100;
	height:100;
	background:#7e4be5;
	float:left;
}
#lh{
	width:100;
	height:100;
	background:white;
	float:left;
}
#lj{
	width:100;
	height:100;
	background:white;
	float:left;
}
#lk{
	width:100;
	height:100;
	background:white;
	float:left;
}
#ll{
	width:100;
	height:100;
	background:white;
	float:left;
}
#lx{
	width:100;
	height:100;
	background:white;
	float:left;
}
#lm{
	width:100;
	height:100;
	background:#fa0000;
	float:left;
}
