.slide{
width:800px;
height:400px;
}
.mySlides{
width:1300px;
height:400px;
}

.buttonleft{
width:20px;
height:20px;
position:absolute;
top:180px;

}
.buttonright{
width:20px;
height:20px;
position:absolute;
top:180px;
margin-left:1250px;
}