.big_box{
	width:1349px;
	height:980px;
	background:#e5e5e7;
	margin:auto;
}
*{
	margin:0px;
	padding:0px;
}
.theme_box{
	width:1349px;
	height:120px;
	background:#333;
	float:left
}
.logo_box{
	width:320px;
	height:110px;
	background-image:url(images/coffee-logo.png);
	background-size:cover;
	margin-left:10px;
	float:left;
}
.home1{
	width:110px;
	height:35px;
	background:#555;
	float:left;
	text-align:center;
	padding-top:10px;
	color:white;
	margin-left:100px;
	margin-top:40px;
	font-family:Century Gothic;
}
.home1:hover{
	background:#888;
}
.home{
	width:110px;
	height:35px;
	background:#555;
	float:left;
	text-align:center;
	padding-top:10px;
	color:white;
	margin-top:40px;
	font-family:Century Gothic;
	
}
.home:hover{
	background:#888;
}
.mobile_menu{
	width:110px;
	height:35px;
	background:#555;
	float:left;
	text-align:center;
	padding-top:10px;
	color:white;
	margin-left:50px;
	margin-top:18px;
	font-family:Century Gothic;
	border-radius:5px;
	
}
.menu_sub{
	width:110px;
	height:120px;
	background:#999;
	float:left;
	margin-top:14px;
	position:absolute;
}
.in{
	width:110px;
	height:25px;
	background:#999;
	padding-top:5px;
}
.in:hover{
	background:#555;
}

.menu_sub{
	display:none;
}
.mobile_menu:hover .menu_sub{
	display:inherit;
}
.mobile_menu{
	display:none;
}
.facebook{
	width:44px;
	height:44px;
	background-image:url(images/fb.png);
	background-size:cover;
	float:left;
	margin-left:250px;
	margin-top:42px;
}
.google{
	width:48px;
	height:48px;
	background-image:url(images/google.png);
	background-size:cover;
	float:left;
	margin-left:13px;
	margin-top:40px;
}
.twiteer{
	width:57px;
	height:57px;
	background-image:url(images/twiteer.png);
	background-size:cover;
	float:left;
	margin-left:10px;
	margin-top:38px;
}
.img_box{
	margin-top:5px;
	width:1349px;
	height:250px;
	float:left;
}
iframe{
	float:left;
	margin-top:0px;
	background:white;
	margin-left:100px;
}
.long_box{
	width:650px;
	height:600px;
	float:left;
}
.fb_class{
	margin-left:50px;
	margin-top:40px;
}
.contact{
	width:600px;
	height:140px;
	font-family:Futura Md BT;
	font-size:50px;
	color:#777;
	letter-spacing:2px;
	margin-left:20px;
	margin-top:25px;
	line-height:100px;
}
.contact_Details{
	width:400px;
	height:50px;
	font-family:Berlin Sans FB;
	font-size:35px;
	color:black;
	margin-left:20px;
}
.Details{
	width:410px;
	height:50px;
	font-family:Calibri;
	font-size:18px;
	margin-left:20px;
	text-align:justify;
	margin-top:10px;
	letter-spacing:1px;
}
ul{
	margin-top:10px;
	list-style:none;
}
.information{
	margin-left:20px;
	font-size:20px;
	font-family:Bahnschrift SemiBold;
}
.information2{
	font-family:Bahnschrift SemiBold;
	color:#999;
	list-style:none;
}






@media only screen and (max-width:500px){
		.big_box{
		background:white;
		width:500px;
		height:1250px;
		}
		
		.theme_box{
		width:500px;
		height:80px;
		}
		.logo_box{
		width:215px;
		height:75px;
		}
		.mobile_menu{
		display:inherit;
		
		}
		.home1{
		display:none;
		}
		.home{
		display:none;
		}
		.facebook{
		width:20px;
		height:20px;
		margin-left:8px;
		margin-top:30px;
		}
		.google{
		width:22px;
		height:22px;
		margin-top:30px;
		margin-left:5px;
		}
		
		.twiteer{
		width:28px;
		height:28px;
		margin-top:26px;
		margin-left:3px;
		}
		.img_box img{
		width:500px;
		height:100px;
		}
		.contact{
		font-size:30px;
		margin-top:-150px;
		}
		.contact_Details{
		font-size:25px;
		line-height:50px;
		margin-top:-50px;
		}
		.fb_class{
		width:310px;
		height:105px;
		margin-left:80px;
		}
		iframe{
		width:490px;
		margin-left:0px;
		margin-top:-280px;
		}

	}